<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Coffee</title>
	<%= shared_stylesheet_link_tag "raster" %>
	<%= wcrepl_header_tags %>
	<script type="text/javascript" src="js/wccoffee.js"></script>
	<link rel="stylesheet" href="css/highlight-default.css" />
	<script src="js/highlight.pack.js"></script>
</head>
<body>

</body>
</html>
