<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Print</title>
    <%= shared_stylesheet_link_tag "raster" %>
	<link rel="stylesheet" href="css/style.css" />
	<script id="output-template" type="text/x-handlebars-template">
		<section>
			<code>
				{{output}}
			</code>
		</section>
	</script>
    <%= shared_javascript_include_tag "handlebars" %>
    <%= shared_javascript_include_tag "zepto" %>
	<script type="text/javascript" src="js/wcprint.js"></script>
</head>
<body>

</body>
</html>