<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WCName</key>
	<string>Search</string>
	<key>WCCommand</key>
	<string>wcsearch.rb</string>
	<key>WCUUID</key>
	<string>29625142-B35E-4B83-B078-589D1554DF1D</string>
</dict>
</plist>
