<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WCName</key>
	<string>Print</string>
	<key>WCCommand</key>
	<string>wcprint.rb</string>
	<key>WCUUID</key>
	<string>33EE3C86-3377-4F6D-B8FB-89B9539152AA</string>
</dict>
</plist>
