<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WCName</key>
	<string>HelloWorld</string>
	<key>WCCommand</key>
	<string>hello_world.rb</string>
	<key>WCUUID</key>
	<string>9DF1F4D6-16BA-4D18-88D2-155CF262035F</string>
</dict>
</plist>
