<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WCName</key>
	<string>Shared Test Resources</string>
	<key>WCUUID</key>
	<string>2A87F400-1BA0-45DE-ACB6-0B3E5091D410</string>
</dict>
</plist>
